body {
  background-color: rgb(180, 197, 250);
  font-family: "Assistant-Regular", Arial;
  margin: 0px;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(81, 103, 173);
  padding: 20px;
  margin: 0px;
}

#racer-continer {
  background-color: rgb(180, 197, 250);
  display: flex;
  justify-content: space-around;
  height: 80vh;
  width: 100%;
}

#records,
#racer {
  background-color: white;
  /* border: 1px solid white; */
  border-radius: 10px;
  flex: 1;
  margin: 2%;
  overflow: hidden;
}

#records {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#racer {
  display: flex;
  align-items: center;
  justify-content: center;
}

#records-title {
  width: 100%;
  background-color: rgb(81, 103, 173);
  margin: 0px;
  padding: 10px;
  font-size: 50px;
  color: white;
}

.record {
  background-color: rgb(180, 197, 250);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  margin-right: 10%;
  margin-left: 10%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
}
