body {
  background-color: rgb(180, 197, 250);
  font-family: "Assistant-Regular", Arial;
  margin: 0px;
  text-align: center;
}

h1 {
  font-size: 50px;
  color: rgb(81, 103, 173);
  padding: 20px;
  margin: 0px;
}

h3 {
  margin: 0px;
}

input {
  height: 30px;
  font-size: 18px;
}

#racer-continer {
  background-color: rgb(180, 197, 250);
  display: flex;
  justify-content: space-around;
  height: 80vh;
  width: 100%;
}

#records,
#controle-racer {
  background-color: white;
  border-radius: 10px;
  flex: 1;
  margin: 2%;
  overflow: hidden;
}

#records {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#controle-racer {
  padding: 30px;
}

#records-title {
  width: 100%;
  background-color: rgb(81, 103, 173);
  margin: 0px;
  padding: 10px;
  font-size: 50px;
  color: white;
}

.record {
  background-color: rgb(180, 197, 250);
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  margin-right: 10%;
  margin-left: 10%;
  height: 40px;
  font-size: 18px;
  border-radius: 5px;
}

#start-racer {
  width: 40%;
  height: 35px;
  margin-bottom: 20px;
  font-size: 20px;
  border: 2px solid rgb(81, 103, 173);
  border-radius: 5px;
  background-color: rgb(81, 103, 173);
  color: white;
  cursor: pointer;
}

#start-racer:hover {
  opacity: 0.8;
}

#start-racer:active {
  background-color: white;
  color: rgb(81, 103, 173);
}

#racer,
#result {
  background-color: rgb(180, 197, 250);
  border-radius: 5px;
  height: 80%;
  padding-top: 10px;
}

#display-text {
  color: white;
}

#text-to-type {
  font-size: 18px;
  background-color: rgb(213, 224, 255);
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  padding: 15px;
}

#current-word {
  color: rgb(255, 0, 0);
}

.timer {
  background-color: rgb(252, 217, 152);
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  margin-left: 42%;
  margin-right: 42%;
  margin-top: 10px;
  padding-top: 10px;
}
